
@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/WebClient/Index.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var settings = {
                urlRequestAuthorizationToSpotify: "@Url.Action("RequestAuthorizationToSpotify")"
            };
            loginModule.init(settings);
        });
    </script>
}

<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <button class="btn btn-primary btn-lg" type="submit" onclick="return loginModule.openSpotifyAuthorizationScreen();">
            <i class="fab fa-spotify fa-1x"></i> LogIn into Spotify
        </button>
    </div>
</div>

