
@{
    ViewBag.Title = "ProccessSpotifyResponse";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h1>No se pudo auntenticar con spotify</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <p>Hubo un error al tratar de autenticarse con spotify, por favor vuelta a intentarlo y si el error persiste pongase en contacto con el administrador.</p>
    </div>
</div>
